@import "src/styles/common";

.wrapper {
  $height: 24px;
  $width: 48px;
  $sun: #f2c559;
  $moon: #ffffff;
  @include flex-center();
  // display: inline-flex;
  position: absolute;
  right: 0;
  top: calc(50% - 12px);
  transition: 1s all ease;

  .switch {
    visibility: hidden;
    position: absolute;
    &:checked {
      ~ .switch-label {
        transition: 0.5s all ease;
        .toggle {
          $position: -6px;
          transform: translateX(($width * 0.5) + $position) rotate(90deg);
          background: transparent;
          box-shadow: 0px $position 0 0 $moon;
        }
      }
    }
  }

  .switch-label {
    @include flex-center();
    width: $width;
    height: $height;
    border-radius: $height;
    border: 1px solid #cccccc;
    position: relative;
    cursor: pointer;
    transition: 1s all ease;
    margin-bottom: 0;

    .toggle {
      width: $height * 0.75;
      height: $height * 0.75;
      transition: 0.7s all ease;
      border-radius: $height;
      background-color: $sun;
      position: absolute;
      left: 2px;
      transition: 0.5s all ease;
    }
  }
}
