@import "src/styles/common";

.wrapper {
  $height: 24px;
  $width: 48px;
  $sun: #f2c559;
  $moon: #ffffff;
  @include flex-center();
  position: absolute;
  right: 0;
  top: calc(50% - 12px);
  transition: 1s all ease;

  .switch {
    visibility: hidden;
    position: absolute;
    &:checked {
      ~ .switch-label {
        transition: 0.5s all ease;
        background-image: url(./../../assets/images/day.jpg);
        border: 1px solid $sun;
        .toggle {
          $position: 0px;
          transform: translateX(($width * 0.5) + $position) rotate(90deg);
          background: $sun;
          box-shadow: 0px 0px 20px 0px $sun;
        }
      }
    }
  }

  .switch-label {
    @include flex-center();
    width: $width;
    height: $height;
    border-radius: $height;
    border: 1px solid $moon;
    position: relative;
    cursor: pointer;
    transition: 1s all ease;
    margin-bottom: 0;
    background-image: url(./../../assets/images/night.jpg);
    background-size: cover;
    .toggle {
      width: $height * 0.75;
      height: $height * 0.75;
      $position: 0px;
      transition: 0.7s all ease;
      border-radius: $height;
      background-color: $moon;
      position: absolute;
      left: 2px;
      transition: 0.5s all ease;
      transform: rotate(90deg);
      box-shadow: 0px 0px 20px 0px $moon;
    }
  }
}
