@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap");
$font-path: "../assets/fonts" !default;

// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(
        str-slice($string, $index + str-length($search)),
        $search,
        $replace
      );
  }
  @return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face(
  $name,
  $path,
  $weight: null,
  $style: null,
  $exts: eot woff2 woff ttf svg
) {
  $src: null;

  $extmods: (
    eot: "?",
    svg: "#" + str-replace($name, " ", "_"),
  );

  $formats: (
    otf: "opentype",
    ttf: "truetype",
  );

  @each $ext in $exts {
    $extmod: if(
      map-has-key($extmods, $ext),
      $ext + map-get($extmods, $ext),
      $ext
    );
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append(
      $src,
      url(quote($path + "." + $extmod)) format(quote($format)),
      comma
    );
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

@include font-face(
  "HK Grotesk Bold",
  "#{$font-path}/hkgrotesk/HKGrotesk-Bold",
  normal,
  bold,
  ("eot", "woff2", "woff", "ttf", "otf")
);
// @include font-face(
//   "HK Grotesk",
//   "#{$font-path}/hkgrotesk/HKGrotesk-SemiBold",
//   normal,
//   600,
//   ("eot", "woff2", "woff", "ttf", "otf")
// );
@include font-face(
  "HK Grotesk Medium",
  "#{$font-path}/hkgrotesk/HKGrotesk-Medium",
  normal,
  500,
  ("eot", "woff2", "woff", "ttf", "otf")
);
@include font-face(
  "HK Grotesk",
  "#{$font-path}/hkgrotesk/HKGrotesk-Regular",
  normal,
  normal,
  ("eot", "woff2", "woff", "ttf", "otf")
);
@include font-face(
  "HK Grotesk Light",
  "#{$font-path}/hkgrotesk/HKGrotesk-Light",
  normal,
  300,
  ("eot", "woff2", "woff", "ttf", "otf")
);
