@import "~bootstrap/scss/variables";

$themes: (
  light: (
    backgroundColor: #f5f6f7,
    contentBackgroundColor: #ffffff,
    headerTextColor: #44566c,
    contentTextColor: #44566c,
    shadowColor: rgba(103, 118, 128, 0.1),
  ),
  dark: (
    backgroundColor: #272333,
    contentBackgroundColor: #302c40,
    headerTextColor: #ffffff,
    contentTextColor: #dedde0,
    shadowColor: rgba(32, 29, 42, 0.75),
  ),
);

// Bootstrap Variables
$primary: #304cfd;

$theme-colors: (
  "primary": $primary,
);
