@import "~bootstrap/scss/variables";
@import "~hover.css/scss/options";

$themes: (
  light: (
    backgroundColor: #f7f7f7,
    contentBackgroundColor: #ffffff,
    headerTextColor: #44566c,
    contentTextColor: #44566c,
    shadowColor: rgba(103, 118, 128, 0.1),
  ),
  dark: (
    backgroundColor: #2d283e,
    contentBackgroundColor: #302c40,
    headerTextColor: #ffffff,
    contentTextColor: #dedde0,
    shadowColor: rgba(32, 29, 42, 0.75),
  ),
);

// Bootstrap Variables
$primary: #158ff3;
$dark: #3f3855;
$activeColor: $primary;
$font-family-sans-serif: "HK Grotesk", sans-serif;
$font-family-monospace: "Anonymous Pro", monospace;
$theme-colors: (
  "primary": $primary,
  "dark": $dark,
);
$hamburger-padding-x: 0px;
$hamburger-padding-y: 5px;
$hamburger-layer-width: 30px;
$hamburger-layer-height: 2px;
// $hamburger-layer-spacing: 9px;
$hamburger-layer-color: #ffffff;
$hamburger-types: (squeeze);
$theme-transition: 0.75s;
