@import "common";

@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

$theme-transition: 0.75s;

@include themify($themes) {
  color: themed("contentTextColor");
  background-color: themed("backgroundColor");
  transition: background-color $theme-transition ease,
    color $theme-transition ease;

  .shadow {
    box-shadow: 0px 40px 50px themed("shadowColor") !important;
    transition: box-shadow $theme-transition ease;
  }

  .box {
    background-color: themed("contentBackgroundColor");
    border-radius: 0.5rem;
    padding: 1.875rem;
    padding-bottom: 1.875rem;
    position: relative;
    transition: box-shadow 0.3s ease-in-out,
      background-color $theme-transition ease;

    &.flip-right {
      border-radius: 1.25rem 0.5rem;
    }

    &.flip-left {
      border-radius: 0.5rem 1.25rem;
    }
    margin-bottom: 30px;
  }

  header {
    background-color: themed("backgroundColor");
    transition: background-color $theme-transition ease;

    .nav-item {
      a {
        color: themed("contentTextColor");
        outline: 0;
        border: none;
      }
    }
  }
}

.box-border {
  border-radius: 0.5rem;
  &.flip-right {
    border-radius: 1.25rem 0.5rem;
  }

  &.flip-left {
    border-radius: 0.5rem 1.25rem;
  }
}

header {
  height: 5rem;
  @include media-breakpoint-up(xl) {
    height: 10rem;
  }

  .nav-link {
    font-family: monospace;
  }
  .nav-item {
    &.active {
      a {
        color: var(--primary);
      }
      font-weight: bold;
    }
  }
}

body {
  position: relative;
}

// Loading

#___loader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  transition: background-color $theme-transition ease,
    color $theme-transition ease;
  // background-color: green;

  .loadingScreen {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .coffee {
      transform: scale(2);
      stroke: var(--primary);
      margin-bottom: 2rem;
      width: 400px;

      .steamL {
        stroke-dasharray: 13;
        stroke-dashoffset: 13;
        stroke-width: 2;
        animation: steamLarge 2s infinite;
      }

      .steamR {
        stroke-dasharray: 9;
        stroke-dashoffset: 9;
        stroke-width: 2;
        animation: steamSmall 2s infinite;
      }
    }

    .brewing {
      min-width: 300px;
      width: 100%;
      font-family: monospace;
      font-weight: 500;
      font-size: 1.5rem;
      color: var(--primary);
      text-align: center;
      text-transform: lowercase;
      letter-spacing: 2px;

      &:after {
        content: ".";
        animation: dots 1s steps(5, end) infinite;
        letter-spacing: 5px;
      }
    }
  }
}

@keyframes steamLarge {
  0% {
    stroke-dashoffset: 13;
    opacity: 0.6;
  }
  100% {
    stroke-dashoffset: 39;
    opacity: 0;
  }
}

@keyframes steamSmall {
  10% {
    stroke-dashoffset: 9;
    opacity: 0.6;
  }
  80% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
}

@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: var(--primary);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 var(--primary), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%,
  100% {
    text-shadow: 0.25em 0 0 var(--primary), 0.5em 0 0 var(--primary);
  }
}
