@import "./../../styles/theme.scss";



.header {
  @include themify($themes) {
    color: themed("textColor");
    background-color: themed("backgroundColor");
  }

  margin-bottom: 100px;
  div {
    padding: 1.5rem;
    @include themify($themes) {
      color: themed("textColor");
    }
  }
  a {
    text-decoration: none;
    @include themify($themes) {
      color: themed("textColor");
    }
  }
}
