@import "src/styles/common";

.image {
  height: 180px;
  width: 180px;
  border-radius: 1.25rem;

  @include media-breakpoint-up(lg) {
    margin: calc(-7rem + 2px) auto 1.25rem auto;
  }
  border: 1px solid #ccc;
}

.sidebar {
  display: none;
  @include media-breakpoint-up(lg) {
    display: block;
    position: fixed;
    z-index: $zindex-fixed;
  }
}
